<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emim">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_transparent"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emim"

        >
        <activity
            android:name=".MainActivity"
            android:exported="true"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
       <!-- <activity android:name=".LandingActivity">

        </activity> -->
       <activity android:name=".SpaceReservationActivity"
            android:theme="@style/Theme.Emim.DarkActionBar"
            android:label="Reserva de Espaço">
        </activity>
        <activity android:name=".MaintanceActivity"
            android:theme="@style/Theme.Emim.DarkActionBar"
            android:label="Manutenção de vias">
        </activity>
      <!--  <activity android:name=".MainActivity"
            android:theme="@style/Theme.EmimLogin">
        </activity> -->
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.EmimLogin">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMRW9dUZnP7IP8LDjVU7swa8-ixrrHa8I"/>

    </application>
    <!-- Permissão para acesso à Internet e localização -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>